## Números e Valores Booleanos


Crie uma variável igual a "True".

In [14]:
x = True 
x

True

Verifique seu tipo (função 'type').

In [15]:
type (x)

bool

Crie uma variável igual a 42.

In [16]:
x = 42

Verifique seu tipo (função 'type').

In [17]:
type (x)

int


Verifique o tipo do valor 0,84.

In [6]:
type (0.84)

float

Transforme o 42 em um.*float*.

In [7]:
float (42)

42.0


Transforme 0,84 em um número inteiro. Qual valor você obteve?

In [8]:
int (0.84)

0

In [9]:
0

0